<!-- <nav class="fixed top-0 left-0 w-full bg-[#2E4365] border-b border-[#1f314a] shadow-sm z-50">
  <div class="max-w-7xl mx-auto px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      
      <!-- Brand -->
      <div class="flex items-center">
        <h1 class="text-xl font-semibold text-white">
          <span class="text-[#E59D2C]">Kick</span> n' Cart
        </h1>
      </div> -->

<nav class="w-full" bg-[#2E4365] text-white fixed top-0 left-0 border-b border-gray-700 shadow-md z-50>
    <div class="max-w-6xl mx-auto px-6 flex justify-between items-center h-16">
        <h1 class="text-lg font-bold tracking-wide">
            <span class="text-[#1e2f4a]">Tes</span>navbar
        </h1>

        <div class="hidden md:flex space-x-6">
            <a href="#" class="hover:text-[#C97C1F] transiition">Home</a>
            <a href="#" class="hover:text-[#C97C1F] transiition">Menu</a>
            <a href="#" class="hover:text-[#C97C1F] transiition">Contact</a>
        </div>

        <button id="menu-btn" class="md:hidden text-2xl hover:text-[#1e2f4a]">klik</button>
    </div>

    <div id="menu" class="hidden bg-black border-t"
</nav>