{% extends 'base.html' %}
{% block content %}
<h1>Kick n' Cart</h1>

<h5>NPM:</h5>
<p>{{ npm }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>

<hr>

{% if not products %}
  <p>Belum ada data produk pada Kick n' Cart.</p>
{% else %}
  {% for product in products %}
    <div style="margin-bottom: 20px;">
      <h2>
        <a href="{% url 'main:show_product' product.id %}">
          {{ product.name }}
        </a>
      </h2>

      <p>
        <b>Kategori:</b> {{ product.category }}
        {% if product.is_featured %} | <b>⭐ Featured</b>{% endif %}
        | <i>Stok: {{ product.stock }}</i>
      </p>

      {% if product.thumbnail %}
        <img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="150" height="100">
        <br />
      {% endif %}

      <p><b>Harga:</b> Rp{{ product.price }}</p>
      <p>{{ product.description|truncatewords:20 }}...</p>

      <p>
        <a href="{% url 'main:show_product' product.id %}">
          <button>Detail</button>
        </a>
      </p>
    </div>
    <hr>
  {% endfor %}
{% endif %}
{% endblock content %}
